.container {
    max-width: 998px;
  }
  
  .lh-condensed { line-height: 1.25; }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .feather {
    width: 12px;
    height: 15px;
    padding-right: 1px;
    font-weight: bolder;
  }
  .feather-save {
    width: 24px;
    height: 20px;
  }

