<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!-- <h1 class="display-3">Indo Construction Chemicals</h1> -->
        <p style="font-size: 20px;">A Construction Chemicals Manufacturer and Supplier. Established in 1995 and located in Visakhapatnam (Andhra Pradesh), the company is engaged in offering Concrete Admixtures and Concrete Waterproofing Sealer. It is running very prolifically under the capable ownership of <strong>Mr. Surya Prakash Patnaik</strong></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Concrete Waterproofing Sealer</h2>
          <p>Concrete Waterproofing Sealer, that we make available, is an excellent product with consistent high quality and proven, dependable efficiency. We make available premium Concrete Waterproofing Sealer that is guaranteed to give the most satisfactory water proofing performance, even in poorly graded cement concrete mix.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Air Entraining Admixture</h2>
          <p>Air Entraining Admixture, offered by us, is used for stabilizing microscopic air bubbles in concrete. Air Entraining Admixture will dramatically improve the durability of concrete, exposed to cycles of freezing and thawing. This Air Entraining Admixture greatly improves concrete resistance surface scaling. The workability of fresh concrete is improved significantly and segregation & bleeding are reduced/ eliminated with Air Entraining Admixture that we offer.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Retarding Admixture</h2>
          <p>Retarding Admixtures are used to delay the rate of setting of concrete. We make available Retarding Admixture that does not decrease the initial temperature of concrete. The bleeding rate and bleeding capacity of concrete is increased with Retarding Admixture. Retarding Admixtures, that we provide, are useful in extending the setting time of concrete, but they are also used in attempts to decrease slump loss and extend workability.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>